.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear;
}

.icon-pulse {
    -webkit-animation: icon-spin 1s infinite steps(8);
    animation: icon-spin 1s infinite steps(8);
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.icon-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.icon-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icon-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.icon-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.icon-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.hxbg {
    background: linear-gradient(154deg, #69ABFE 0%, #3274FE 100%)!important;
    color: white!important;
}

.box-shadow {
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
}

// 配合高度使用 overflow: hidden
.line-one {
    display: -webkit-box;overflow: hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;
}

.line-two {
    display: -webkit-box;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;
}

.line-three {
    display: -webkit-box;overflow: hidden;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-break: break-all;
}

.qcfd {
    clear: both;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.none {
    display: none;
    visibility: hidden;
}

.show {
    opacity: 1 !important;
}

.hide {
    opacity: 0 !important;
}

.of-hide {
    overflow: hidden;
}

.fr {
    float: right
}

.fl {
    float: left
}

.fixed {
    position: fixed;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.margin-center {
    margin: 0 auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 99999;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 99999;
}

.position-bottom {
    position: absolute;
    bottom: 0;
    z-index: 99999;
}

.notClick {
    pointer-events: none;
}

.jzdj {
    pointer-events: none;
}

[v-cloak] {
    display: none !important;
}


page {
    color: #303133;
    font-size: 28rpx;
}


// 隐藏 scroll-view 滚动条
::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}

.row-scroll {
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    margin-top: 0.11rem;
    width: 100%;
    overflow-x: scroll;
    height: 0.5rem;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.round {
    border-radius: 50%!important;
}

.radius {
    border-radius: 15px;
}

.radius-sm {
    border-radius: 10px;
}

.transition-five {
    transition: .5s
}

.image_loading {
    background: #f5f7fa;display: flex;align-items: center;justify-content: center;width: 100%;height: 100%
}

.finger {
    cursor: pointer
}
