@import "theme";

@mixin vue-flex($direction: row) {
    /* #ifndef APP-NVUE */
    display: flex;
    flex-direction: $direction;
    /* #endif */
}
.u-btn::after {
    border: none;
}

.u-btn {
    position: relative;
    border: 0;
    //border-radius: 10rpx;
    /* #ifndef APP-NVUE */
    display: inline-flex;
    /* #endif */
    // 避免边框某些场景可能被“裁剪”，不能设置为hidden
    overflow: visible;
    line-height: 1;
    @include vue-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 40rpx;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.15s;

    &--bold-border {
        border: 1px solid #ffffff;
    }

    &--default {
        color: #606266;
        border-color: #c0c4cc;
        background-color: #ffffff;
    }

    &--primary {
        color: #ffffff;
        border-color: #2979ff;
        background-color: #2979ff;
    }

    &--success {
        color: #ffffff;
        border-color: $u-type-success;
        background-color: $u-type-success;
    }

    &--error {
        color: #ffffff;
        border-color: $u-type-error;
        background-color: $u-type-error;
    }

    &--warning {
        color: #ffffff;
        border-color: $u-type-warning;
        background-color: $u-type-warning;
    }

    &--default--disabled {
        color: #ffffff;
        border-color: #e4e7ed;
        background-color: #ffffff;
    }

    &--primary--disabled {
        color: #ffffff!important;
        border-color: $u-type-primary-disabled!important;
        background-color: $u-type-primary-disabled!important;
    }

    &--success--disabled {
        color: #ffffff!important;
        border-color: $u-type-success-disabled!important;
        background-color: $u-type-success-disabled!important;
    }

    &--error--disabled {
        color: #ffffff!important;
        border-color: $u-type-error-disabled!important;
        background-color: $u-type-error-disabled!important;
    }

    &--warning--disabled {
        color: #ffffff!important;
        border-color: $u-type-warning-disabled!important;
        background-color: $u-type-warning-disabled!important;
    }

    &--primary--plain {
        color: $u-type-primary!important;
        border-color: $u-type-primary-disabled!important;
        background-color: $u-type-primary-light!important;
    }

    &--success--plain {
        color: $u-type-success!important;
        border-color: $u-type-success-disabled!important;
        background-color: $u-type-success-light!important;
    }

    &--error--plain {
        color: $u-type-error!important;
        border-color: $u-type-error-disabled!important;
        background-color: $u-type-error-light!important;
    }

    &--warning--plain {
        color: $u-type-warning!important;
        border-color: $u-type-warning-disabled!important;
        background-color: $u-type-warning-light!important;
    }
}

.u-hairline-border:after {
    content: ' ';
    position: absolute;
    pointer-events: none;
    // 设置为border-box，意味着下面的scale缩小为0.5，实际上缩小的是伪元素的内容（border-box意味着内容不含border）
    box-sizing: border-box;
    // 中心点作为变形(scale())的原点
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    left: 0;
    top: 0;
    width: 199.8%;
    height: 199.7%;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    border: 1px solid currentColor;
    z-index: 1;
}

.u-wave-ripple {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background-clip: padding-box;
    pointer-events: none;
    user-select: none;
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
}

.u-wave-ripple.u-wave-active {
    opacity: 0;
    transform: scale(2);
    transition: opacity 1s linear, transform 0.4s linear;
}

.u-round-circle {
    border-radius: 100rpx;
}

.u-round-circle::after {
    border-radius: 100rpx;
}

.u-loading::after {
    background-color: hsla(0, 0%, 100%, 0.35);
}

.u-size-default {
    font-size: 30rpx;
    height: 80rpx;
    line-height: 80rpx;
}

.u-size-medium {
    /* #ifndef APP-NVUE */
    display: inline-flex;
    /* #endif */
    width: auto;
    font-size: 26rpx;
    height: 70rpx;
    line-height: 70rpx;
    padding: 0 80rpx;
}

.u-size-mini {
    /* #ifndef APP-NVUE */
    display: inline-flex;
    /* #endif */
    width: auto;
    font-size: 22rpx;
    padding-top: 1px;
    height: 50rpx;
    line-height: 50rpx;
    padding: 0 20rpx;
}

.u-primary-plain-hover {
    color: #ffffff !important;
    background: $u-type-primary-dark !important;
}

.u-default-plain-hover {
    color: $u-type-primary-dark !important;
    background: $u-type-primary-light !important;
}

.u-success-plain-hover {
    color: #ffffff !important;
    background: $u-type-success-dark !important;
}

.u-warning-plain-hover {
    color: #ffffff !important;
    background: $u-type-warning-dark !important;
}

.u-error-plain-hover {
    color: #ffffff !important;
    background: #dd6161 !important;
}

.u-info-plain-hover {
    color: #ffffff !important;
    background: $u-type-info-dark !important;
}

.u-default-hover {
    color: $u-type-primary-dark !important;
    border-color: $u-type-primary-dark !important;
    background-color: $u-type-primary-light !important;
}

.u-primary-hover {
    background: $u-type-primary-dark !important;
    color: #fff;
}

.u-success-hover {
    background: $u-type-success-dark !important;
    color: #fff;
}

.u-info-hover {
    background: $u-type-info-dark !important;
    color: #fff;
}

.u-warning-hover {
    background: $u-type-warning-dark !important;
    color: #fff;
}

.u-error-hover {
    background: #dd6161 !important;
    color: #fff;
}
