* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}
.title_wrap {
    padding: 15px;
    border-bottom: 1px solid #e3e3e3;
}
.title_wrap .title_img {
    width: 88px;
    height: auto;
}
/* 鍗曞浘 */
.ad-template-info {
    padding: 2vw 0;
    margin: 0 15px;
    display: flex;
    border-bottom: 1px solid #e3e3e3;
}
.no-border .ad-template-info {
    border: 0;
}
.ad-template-info .item-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4vw;
}

.ad-template-info .item-left .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.ad-template-info .item-left .item-extra {
    display: flex;
    align-items: center;
}

.ad-template-info .item-left .item-extra .read-date {
    font-size: 12px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #aaa;
}
.ad-template-info .ad-img {
    border-radius: 5px;
    display: block;
    width: 113px;
    height: 80px;
}

/* 澶у浘骞垮憡 */
.ad-template-info-big {
    padding: 2vw 0;
    margin: 0 10px 0 10px;
    display: flex;
    border-bottom: 1px solid #e3e3e3;
}
.no-border .ad-template-info-big {
    border: 0;
}
.ad-template-info-big .item-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0vw;
}

.ad-template-info-big .item-left .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.ad-template-info-big .item-left .item-extra {
    display: flex;
    align-items: center;
}

.ad-template-info-big .item-left .item-extra .read-date {
    font-size: 12px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #aaa;
}
.ad-template-info-big .ad-img-big {
    margin: 8px 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 210px;
}

/* 涓夊浘骞垮憡 */
.ad-template-3img {
    padding: 2vw 0;
    margin: 0 15px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.no-border .ad-template-3img {
    border: 0;
}
.ad-template-3img .item-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4vw;
}

.ad-template-3img .item-left .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.ad-template-3img .item-left .item-extra {
    display: flex;
    align-items: center;
}

.ad-template-3img .item-left .item-extra .read-date {
    font-size: 12px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #aaa;
}
.ad-template-3img .ad-img {
    border-radius: 5px;
    display: block;
    width: 113px;
    height: 80px;
}

.ad-template-3img .img_wrap {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.img_wrap .ad-img {
    border-radius: 5px;
    width: 113px;
    height: 80px;
}

.ad-wrap-float{
    background: #fff;
    width: 100vw;
    height: 20vw;
    position: fixed;
    left: 0;
    bottom: 0;
}
.ad-wrap-float img{

    width: 100vw;
    height: 20vw;

}
@keyframes extandArrowFlow {
    0%,
    100% {
        margin-top: 5px;
        opacity: 0;
    }
    50% {
        margin-top: 10px;
        opacity: 0.7;
    }
}
.tvp_app_badge{display:none!important}


.html-content,
.html-content p,
.html-content span,
.html-content div {
    white-space: normal !important;
    line-height: 28px !important;
    font-size: 18px !important;
}

/*.html-content p {*/
/*  margin-bottom: 10px;*/
/*}*/

.fenmian img {
    width: 100%;
    height: 180px !important;
    object-fit: cover;
    display: block;
}

.ad_position {
    background: rgb(211, 246, 212);
    padding: 2vw 0vw;
}

.ad-template-info {
    border: none;
}

.bottom-one {
    color: #ff4c41;
    font-weight: bold;
    font-size: 16px;
}

#next-page,
#code_weima {
    display: none;
}

.ad-wrap-textlink {
    padding: 0 3vw;
    margin: 2vw 0;
    color: #3ca9ff;
    font-size: 16px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ad-wrap-textlink img {
    width: 30px;
}

.tan_box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.bg_text img {
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 444;
    top: 0;
    left: 0;
}

.ad-template-info-big {
    border: none;
}

.ad-template-info-big .item-left {
    margin-right: 0;
}

.ad-template-info-big .ad-img-big {
    width: 100%;
    object-fit: cover;
    height: 170px;
}

.top-xuanfu {
    position: relative;
}

#top-ad {
    padding: 0 3vw;
}

#top-ad img {
    width: 100%;
}

.ad-wrap-float {
    width: 100%;
}

.next-page {
    background-color: #03a9f4;
}

.extend-artile {
    background: #ff5722;
}

.ad-template-3img {
    border-bottom: none;
}

.html-content {
    margin: 2vw 0;
}

.head-top {
    padding: 2vw 4vw;
}

a, a:focus, a:hover {
    text-decoration: none
}
.ad-template-info .videoImg .video-imgnew {
    display: block;
    position: absolute;
    width: 100% !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.tab-wrap .ret1-tabs {
    display: flex;
    margin: 2vw;
    align-items: center;
    justify-content: space-around;
}

.active {
    background: #eb1c38;
    color: #fff;
    border-radius: 6vw;
}
.tab-wrap .ret1-tabs .tab-item {
    display: inline-block;
    width: 16vw;
    padding: 1vw 0;
    text-align: center;
}

.ad-template-info .item-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4vw;
}
.ad-template-info .videoImg {
    border-radius: 5px;
    display: block;
    width: 32% !important;
    height: 80px;
    overflow: hidden;
    position: relative;
}
.ad-template-info .item-left .title {
    color: #000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.item-extra {
    display: flex;
    margin-top: 8px;
    align-items: center;
}
.item-extra .type-tag {
    border: 1px solid #2196f3;
    padding: 0 5px;
    color: #2196f3;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
}
